body {
  margin: 0;
  font-family: sans-serif;
  background-image: url("/sky.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.btn {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.pane {
  position: absolute;
  z-index: 1;
  padding: 10px;
  padding-top: 60px;
  width: 200px;
  overflow: scroll;
  min-height: 500px;
  max-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.input {
}

input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(215, 234, 255);
  background-color: white;
}

button {
  cursor: pointer;
  /* padding: 5px 50px; */
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: white;
}

/* begin login */
.login {
  position: absolute;
  top: calc(50vh - 250px);
  width: 300px;
  left: calc(50vw - 200px);
  background-color: rgba(240, 248, 255, 0.473);
  padding: 70px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input {
  background-color: rgba(255, 255, 255, 0.638);
  width: 100%;
}

.login button:hover {
  background-color: rgb(215, 234, 255);
}
.login button {
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
  padding-bottom: 5px;
  color: #566b81;
}

.logo {
  width: 150px;
}

/* end login */

.username-text {
  position: absolute;
  z-index: 5;
  bottom: 0;
}

.player-chat-bubble {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 800;
  color: yellow;
  stroke: 1px solid black;
  background-color: #00000024;
  padding: 1px 10px;
  pointer-events: none;
}

/* chatbox */
#chatBox {
  z-index: 2;
  position: absolute;
  top: calc(100vh - 70px);
  left: 5px;
  width: calc(100vw - 10px);
  max-width: 1000px;
  pointer-events: none;
}

#chatBox .chatLog::-webkit-scrollbar {
  display: none;
}
#chatBox .chatLog {
  position: absolute;
  bottom: 50px;
  border-radius: 3px 3px 0 0;
  transition: max-height 0.15s ease-out;
  max-width: min(1000px, 95vw);
  height: 200px;
  background-color: rgba(255, 233, 205, 0.14);
  word-wrap: break-word;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#chatBox .chatInputBar {
  display: flex;
}
#chatBox .chatInputBar textarea {
  pointer-events: all;
  width: 100%;
  max-width: calc(1000px - 43px);
  border: 0px;
  padding: 5px;
  margin-top: auto;
  background-color: rgba(255, 233, 205, 0.377);
}

#chatBox .chatInputBar button {
  pointer-events: all;
  color: rgba(0, 0, 0, 0.477);
  background-color: rgba(255, 233, 205, 0.377);
}

#chatBox .openChatButton.open {
  left: min(calc(100vw - 50px), 950px);
}

#chatBox .openChatButton.open {
  bottom: 225px;
  top: auto;
}
#chatBox .openChatButton {
  pointer-events: all;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 233, 205, 0.1);
  border-radius: 0 0 3px 3px;
  position: absolute;
  top: 5px;
}

/* end chatbox */

.health-bar {
  content: "";
  background-color: red;
  width: 10rem;
  height: 1rem;
}

.health-bar .fill {
  background-color: green;
  height: 100%;
}

.click-dropdown {
  position: absolute;  
  padding: 5px;
  /* background-color: red; */
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.click-dropdown button:hover:disabled  {
  cursor: default;
}
.click-dropdown button:hover:enabled  {
  opacity: 1;
}
.click-dropdown button:first-child  {
  border-radius: 5px 5px 0 0;
}
.click-dropdown button:last-child  {
  border-radius: 0 0 5px 5px;
}
.click-dropdown button  {
  opacity: 0.6;
  padding: 5px;
  background-color: black;
  border-radius: 0;
  color: white;
  border-bottom: 1px solid #1e1e1e;
}

/* this was added because three.js canvas gets position absolute
applied to it on page scroll which then messes UI positions */
canvas {
  position: static !important;
}
