html, body {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#chatBox .chatLog {
  width: 300px;
  height: 400px;
}

#chatBox .openChatButton { 
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 233, 205, 0.514);
}