html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#chatBox {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100vw - 10px);
}

button {
  border: none;
  border-radius: 0 0 2px 0;
}

#chatBox .chatLog {
  transition: max-height 0.15s ease-out;
  max-width: 1000px;
  height: 400px;
  background-color: rgba(255, 233, 205, 0.514);
}

#chatBox .chatInputBar { 
  display: flex;
}
#chatBox .chatInputBar textarea{ 
  width: 100%;
  border: 0px;
  padding: 5px;
  margin-top: auto;
  background-color: rgba(255, 233, 205, 0.877);
}

#chatBox .chatInputBar button {
  background-color: rgba(255, 233, 205, 0.877);
}

#chatBox .openChatButton { 
  height: 50px;
  width: 50px;
  background-color: rgba(255, 233, 205, 0.514);
  border-radius: 0 0 5px 5px;
}